*{text-align: center; color: rgb(253, 238, 216)
;}
#rr{background-color: #987070; color: blanchedalmond;}
#re{background-color: #DBB5B5;color: ;}
#rt{background-color: #C39898;}
#rf{background-color: #DBB5B5;}